@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@200;300&family=Playfair+Display&family=Roboto+Condensed:wght@300&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Newsreader', serif;
}

body {
    background: #f9f9f9;

}

.container {
    max-width: 1080px;
    overflow : auto;
    margin: 0 auto;
    padding: 0 40px;
}

.infos-progress {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

#current-theme {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

#current-question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

#question-progress {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    text-align: center;
}

.answers-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.answers-buttons button {
    width: 40%;
    border: none;
    padding: 15px;
    border-radius: 10px;
}

#btn-option {
    display: flex;
    margin-top: 40px;
    height: 100%;
    align-items: center;
} 

#question-progress,
.choice {
    margin-bottom: 35px;
}

.choice {
    cursor: pointer;
    color: white;
    background: #9080b3;
}

.choice:hover {
    background: #ff6e6c ;
    opacity: .7;
}

.start-container {
    display: flex;
    justify-content: center;
    width:100%;
}

#questionInfos-container {
    border-radius: 10px;
    background: #b8c1ec;
    color: #1f1235;
    margin: 30px;
    padding: 10px;
}

#start {
    padding: 20px 30px;
    cursor: pointer;
}

#next {
    padding: 10px;
}

#timer,
.score-container {
    background: #9080b3;
    border-radius: 10px;
    color: white;
    padding: 10px;
}

#btn-option {
    display: flex;
    justify-content: flex-end;
}

.hide,
.messageEnd {
    display: none;
    text-align: center;
}

.endPoints {
    color: #ff6e6c;
}



